<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <title>swipe-pages Demo</title>

  <script src="../webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="swipe-pages.html">

</head>
<body unresolved fullbleed layout vertical center center-justified
      style="height: 100vh; margin: 0">

  <swipe-pages>
    <div style="background-color: blue"></div>
    <div style="background-color: red"></div>
    <div style="background-color: green"></div>
    <div style="background-color: indigo"></div>
  </swipe-pages>

</body>
</html>
